/* // src/components/Header.module.css */
.header {
  padding: 1rem 2rem;
  background: #000;
}
.logo {
  height: 6em;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
  }

}